.message{
  border: 2px;
  border-radius: 10px;
  background-color:seagreen;
  margin-bottom: 5px;
  padding: 10px;
}

.user{
  border: 2px;
  border-radius: 10px;
  background-color:seagreen;

  padding: 10px;
}

.grid{
  display: grid;
  gap:7px;
  grid-template-columns: repeat(2,1fr);

}